@* @using car_rental.Application.DTOs.Filter *@
@* @model PrimaryFilterDTO *@

@* <form asp-controller="Deals" asp-action="Filter" method="get" class="mt-2">  *@
@* 	<input name="StartDate" value="@Model.BookingFormDTO.BookingStartDate" type="hidden" />  *@
@* 	<input name="EndDate" value="@Model.BookingFormDTO.BookingEndDate" type="hidden" />  *@
@* 	<input name="Address" value="@Model.BookingFormDTO.Address" type="hidden" />  *@
@* 	<button type="submit" class="btn btn-warning text-white fw-bold btn-lg w-100 rounded-pill mt-2"  *@
@* 			style="border-radius:5px;">  *@
@* 		<i class="fas fa-edit"></i>  *@
@* 		Change The Date *@
@* 	</button>  *@
@* </form> *@